<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>
</head>
<body>
    <div data-role="page">
        <div data-role="header">
            <h1>@ViewBag.Title</h1>
            <div data-role="navbar">
                <ul>
                    <li><a href="/ToDo/Index/">List to-dos</a></li>
                    <li><a href="/ToDo/Create/">Create a to-do</a></li>
                </ul>
            </div>
        </div>
        <div data-role="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
