@model IEnumerable<ToDoMobile.Web.Models.ToDo>
@{
    ViewBag.Title = "What you need to-do";
}
<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Incomplete<span class="ui-li-count">@Model.Where(todo => !todo.Complete).Count()</span></li>
    @foreach (var item in Model.Where(todo => !todo.Complete))
    {
        <li><a href="/ToDo/Edit/@item.Id">@item.Name</a></li>	
    }
    <li data-role="list-divider">Completed<span class="ui-li-count">@Model.Where(todo => todo.Complete).Count()</span></li>
    @foreach (var item in Model.Where(todo => todo.Complete))
    {
        <li><a href="/ToDo/Edit/@item.Id">@item.Name</a></li>	
    }
</ul>
